<section class="seccion-agendamiento">
  <div class="container">
    <div class="row align-items-center ">
      <div class="col-lg-7 mb-4 mb-lg-0 fade-in-left">
        <div class="cuadro-texto-agendamiento">
          <div class="texto-contenido">
            <p>Promoción de la salud, prevención, diagnóstico y tratamiento de enfermedades no profesionales, rehabilitación y recuperación de la salud,de enfermedad y maternidad en sus 102 unidades médicas a escala nacional</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 text-center text-lg-center fade-in-right">
        <a href="#" class="botAgendamiento" aria-label="Agendar cita médica"></a>
      </div>
    </div>
  </div>
</section>
