<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Banner -->
<app-banner></app-banner>

<!-- Tutoriales -->
<app-tutoriales-video></app-tutoriales-video>

<!-- ¿Qué cubre el Seguro de Salud? -->
<app-cobertura-seguro></app-cobertura-seguro>

<!-- Unidades médicas -->
<app-unidades-medicas></app-unidades-medicas>

<!-- Mapa de Ubicaciones -->
<app-mapa-ubicaciones></app-mapa-ubicaciones>

<!-- Subsidios monetarios -->
<app-subsidios-monetarios></app-subsidios-monetarios>

<!-- Requisitos -->
<app-requisitos-subsidio></app-requisitos-subsidio>

<!-- Cómo validar / Subsidio maternidad -->
<app-como-validar></app-como-validar>

<!-- Extensión de cobertura -->
<app-extension-cobertura></app-extension-cobertura>

<!-- Preguntas frecuentes -->
<app-preguntas-frecuentes></app-preguntas-frecuentes>

<!-- Volver al inicio -->
<app-volver-arriba></app-volver-arriba>

<!-- Router Outlet para rutas futuras -->
<router-outlet></router-outlet>
