<div style="height: 120px"></div>
<section id="inicioPagina" class="separadormenuI">
  <div class="custom-section">
    <div class="banner-container container-fluid custom-container-interno">
      <div class="banner row align-items-center text-center">
        <div class="text-content col-md-5">
          <span class="Titulo">Seguro General <br>de Salud</span>
          <h3 class="Subtitulo">Individual y Familiar</h3>
          <br>
          <h4 class="subtitle">¿Quiénes se pueden afiliar?</h4>
          <p class="description">El Seguro General de Salud Individual y Familiar es uno de los cuatro seguros especializados del Instituto Ecuatoriano de Seguridad Social, IESS. Está orientado a brindar protección y bienestar a los asegurados, jubilados y beneficiarios con prestaciones de salud y servicios de calidad y calidez en contingencias de enfermedad y maternidad en sus 102 unidades médicas a escala nacional</p>
        </div>
        <div class="image-container1 col-md-7 d-flex justify-content-center align-items-center">
          <div class="turquoise-bg"></div>
          <img src="assets/images/img_doctora.png" alt="Familia" class="family-image">
          <div class="decoration-circle circle1"></div>
          <div class="decoration-circle circle2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
