<section id="montos" class="separadormenuM">
  <div class="fondomontos">
    <div class="fondomontosborder pt-1 pt-md-5">
      <div class="containerM d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-center gap-3 fade-in-scale">
          <img src="assets/images/ico_salud.png" alt="Imagen" class="imageM">
          <h2 class="m-0">¿Quiénes están protegidos por el Seguro de Salud?</h2>
        </div>
      </div>
      <div class="row align-items-stretch text-center custom-container-interno">
        <div class="col-12 col-md-6 mt-md-5 mb-md-0 d-flex fade-in-left">
          <div class="imagen-protegidos">
            <img src="assets/images/familia.png" alt="Familia protegida" class="img-fluid">
          </div>
        </div>
        <div class="col-12 col-md-6 mt-md-4 mb-md-0 text-start fade-in-right">
          <div class="beneficiarios-lista">
            <p class="mb-4">El Seguro General de Salud Individual y Familiar<br> brinda cobertura a:</p>
            <ul class="lista-beneficiarios">
              <li>Afiliados del régimen obligatorio y voluntario</li>
              <li>Hijos de afiliados hasta los 18 años</li>
              <li>Pensionistas de invalidez, vejez y viudedad</li>
              <li>Montepío por orfandad hasta los 18 años</li>
              <li>Pensionista de incapacidad permanente, parcial, total y absoluta de Riesgos del Trabajo</li>
              <li>El cónyuge o conviviente con derecho</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
